extends /layout/aplication.pug
block subtitulo
  ="Empleados"
block acciones
  paper-input.largo.white(placeholder="Buscar por RFC, Nombre, adscripción, etc")
  a.white(href="/empleados/new")
    paper-icon-button(icon="social:person-add")
block content
  paper-card
    table
      thead
        tr
          th="RFC"
          th="Nombre"
          th="Tipo contrato"
          th="Puesto"
          th="Nivel"
          th="Adscripción"
          th="acciones"

      tbody
        each e in data.data
          tr(ondblclick='verDetalles()' id=e._id)
            td
              x-rfc(rfc=e.rfc)
            td=e.apellidos+" "+e.nombre
            td=e.tipo_contrato
            if e.puesto.clave
              td
                x-puesto(puesto=e.puesto)

            else
              td=e.puesto.descripcion
            td
              x-dato(dato=e.puesto.nivel)
            td
              if e.titular==true
                strong=e.adscripcion.clave+" - "+e.adscripcion.nombre
              else
                span=e.adscripcion.clave+" - "+e.adscripcion.nombre
            td
              a(href="/empleados/"+e._id+"/edit")
                paper-icon-button(icon="create")
    div.card-content
      div
        strong=data.skip+1
        =" - "
        strong=data.skip+data.data.length
        =" de "
        strong= data.total
      x-pagination(total=data.total, current-page=page, page-size=limit)

  script.
    document.addEventListener("DOMContentLoaded", function(){
      //almacena la direccion del index
      localStorage.setItem('empleados',window.location.href);
      });
    function verDetalles(){
      var e=event.currentTarget;
      window.location="/empleados/"+e.id;
    }
